# Ignore environment variables
.env

# Ignore virtual environment
venv/

# Ignore credentials folder
credentials/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db
